:host {
    display: contents;
}

.profile {
    background-color: #161616;
    display: flex;
    padding-top: 194px;
    flex-direction: column;
    overflow: hidden;
}

.profile-content {
    align-self: center;
    display: flex;
    margin-left: 12px;
    width: 100%;
    max-width: 1138px;
    gap: 20px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    width: 76%;
}

.user-info {
    display: flex;
    gap: 20px;
    font-family: Inter, sans-serif;
}

.profile-picture {
    aspect-ratio: 1;
    object-fit: contain;
    width: 95px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name {
    color: #fdfdfc;
    font-size: 22px;
    font-weight: 600;
}

.user-description {
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
}

.section-title {
    color: #a3a3a3;
    font: 300 14px Inter, sans-serif;
    margin-top: 63px;
}

.section-divider {
    border: 1px solid #646464;
    margin: 9px 0;
}

.media-grid,
.recent-media {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.media-item,
.recent-media-item {
    aspect-ratio: 0.6;
    object-fit: contain;
    width: 111px;
    border-radius: 4px;
    max-width: 100%;
}

.profile-sidebar {
    display: flex;
    flex-direction: column;
    width: 24%;
}

.friends-grid {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.friend-avatar {
    aspect-ratio: 1;
    object-fit: contain;
    width: 40px;
    border-radius: 20px;
}

.wishlist-grid {
    display: flex;
    gap: 10px;
    margin-top: 11px;
}

.wishlist-item {
    aspect-ratio: 0.69;
    object-fit: contain;
    width: 90px;
    border-radius: 4px;
    box-shadow: 1px 0 6px #000;
}

.main-divider {
    background-color: #282828;
    height: 1px;
    margin-top: 114px;
    width: 100%;
}

.recent-media {
    margin: 11px 0 0 37px;
}

.footer-divider {
    background-color: #282828;
    height: 2px;
    margin-top: 21px;
    width: 100%;
}

.profile-footer {
    margin: 19px 0 0 230px;
}

.timestamp {
    color: #a3a3a3;
    font: 400 15px Inter, sans-serif;
}

@media (max-width: 991px) {
    .profile {
        padding-top: 100px;
    }

    .profile-content {
        flex-direction: column;
        max-width: 100%;
    }

    .profile-header,
    .profile-sidebar {
        width: 100%;
    }

    .section-title {
        margin-top: 40px;
    }

    .main-divider {
        margin-top: 40px;
    }

    .profile-footer {
        margin-left: 10px;
    }
}