<body>
    <div class="perfil">
        <div class="group-65">
            <div class="group-64">
                <div class="group-63">
                    <div class="group-61">
                        <div class="group-55">
                            <img src="public/images/img_image.png" alt="Image" class="image" />
                            <div class="group-52">
                                <h1 class="ui heading size-headingxs">Lorem Ipsum</h1>
                                <p class="ui text size-textmd">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                        <div class="midias-favoritas">
                            <div class="avaliacao">
                                <p class="description ui text size-textxs">MIDIAS FAVORITOS</p>
                                <div class="line-1"></div>
                            </div>
                            <div class="group-43">
                                <img src="public/images/img_midia1.png" alt="Midia1" class="midia1" />
                                <img src="public/images/img_midia2.png" alt="Midia2" class="midia1" />
                                <img src="public/images/img_midia3.png" alt="Midia3" class="midia1" />
                                <img src="public/images/img_midia4.png" alt="Midia4" class="midia1" />
                                <img src="public/images/img_midia5.png" alt="Midia5" class="midia1" />
                            </div>
                        </div>
                    </div>
                    <div class="avaliacao">
                        <p class="description ui text size-textxs">AVALIAÇÕES RECENTES</p>
                        <div class="line-2"></div>
                        <div class="group-45">
                            <div class="avaliacao-midia1">
                                <img src="public/images/img_avaliacao1.png" alt="Avaliacao1" class="avaliacao1" />
                                <div class="rate1 ui ratingbar">
                                    <input type="radio" id="rate141" name="rate14" value="1" />
                                    <label for="rate141" title="text"> </label>
                                    <input type="radio" id="rate142" name="rate14" value="2" />
                                    <label for="rate142" title="text"> </label>
                                    <input type="radio" id="rate143" name="rate14" value="3" />
                                    <label for="rate143" title="text"> </label>
                                    <input type="radio" id="rate144" name="rate14" value="4" />
                                    <label for="rate144" title="text"> </label>
                                    <input type="radio" id="rate145" name="rate14" value="5" />
                                    <label for="rate145" title="text"> </label>
                                </div>
                            </div>
                            <div class="avaliacao-midia1-1">
                                <img src="public/images/img_avaliacao2.png" alt="Avaliacao1" class="avaliacao1" />
                                <div class="rate1 ui ratingbar">
                                    <input type="radio" id="rate131" name="rate13" value="1" />
                                    <label for="rate131" title="text"> </label>
                                    <input type="radio" id="rate132" name="rate13" value="2" />
                                    <label for="rate132" title="text"> </label>
                                    <input type="radio" id="rate133" name="rate13" value="3" />
                                    <label for="rate133" title="text"> </label>
                                    <input type="radio" id="rate134" name="rate13" value="4" />
                                    <label for="rate134" title="text"> </label>
                                    <input type="radio" id="rate135" name="rate13" value="5" />
                                    <label for="rate135" title="text"> </label>
                                </div>
                            </div>
                            <div class="avaliacao-midia1-1">
                                <img src="public/images/img_avaliacao3.png" alt="Avaliacao1" class="avaliacao1" />
                                <div class="rate1 ui ratingbar">
                                    <input type="radio" id="rate121" name="rate12" value="1" />
                                    <label for="rate121" title="text"> </label>
                                    <input type="radio" id="rate122" name="rate12" value="2" />
                                    <label for="rate122" title="text"> </label>
                                    <input type="radio" id="rate123" name="rate12" value="3" />
                                    <label for="rate123" title="text"> </label>
                                    <input type="radio" id="rate124" name="rate12" value="4" />
                                    <label for="rate124" title="text"> </label>
                                    <input type="radio" id="rate125" name="rate12" value="5" />
                                    <label for="rate125" title="text"> </label>
                                </div>
                            </div>
                            <div class="avaliacao-midia1-1">
                                <img src="public/images/img_avaliacao4.png" alt="Avaliacao1" class="avaliacao1" />
                                <div class="rate1 ui ratingbar">
                                    <input type="radio" id="rate111" name="rate11" value="1" />
                                    <label for="rate111" title="text"> </label>
                                    <input type="radio" id="rate112" name="rate11" value="2" />
                                    <label for="rate112" title="text"> </label>
                                    <input type="radio" id="rate113" name="rate11" value="3" />
                                    <label for="rate113" title="text"> </label>
                                    <input type="radio" id="rate114" name="rate11" value="4" />
                                    <label for="rate114" title="text"> </label>
                                    <input type="radio" id="rate115" name="rate11" value="5" />
                                    <label for="rate115" title="text"> </label>
                                </div>
                            </div>
                            <div class="avaliacao-midia1-1">
                                <img src="public/images/img_avaliacao5.png" alt="Avaliacao1" class="avaliacao1" />
                                <div class="rate1 ui ratingbar">
                                    <input type="radio" id="rate11" name="rate1" value="1" />
                                    <label for="rate11" title="text"> </label>
                                    <input type="radio" id="rate12" name="rate1" value="2" />
                                    <label for="rate12" title="text"> </label>
                                    <input type="radio" id="rate13" name="rate1" value="3" />
                                    <label for="rate13" title="text"> </label>
                                    <input type="radio" id="rate14" name="rate1" value="4" />
                                    <label for="rate14" title="text"> </label>
                                    <input type="radio" id="rate15" name="rate1" value="5" />
                                    <label for="rate15" title="text"> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-62">
                    <div class="group-44">
                        <p class="ui text size-textxs">AMIGOS</p>
                        <div class="group-51">
                            <div class="line-4"></div>
                            <div class="group-41">
                                <img src="public/images/img_image_40x40.png" alt="Image" class="image-1" />
                                <img src="public/images/img_image_1.png" alt="Image" class="image-1" />
                                <img src="public/images/img_image_2.png" alt="Image" class="image-1" />
                                <img src="public/images/img_image_3.png" alt="Image" class="image-1" />
                            </div>
                        </div>
                    </div>
                    <div class="group-6">
                        <div class="group-50">
                            <p class="ui text size-textxs">LISTA DE DESEJOS</p>
                            <div class="line-3"></div>
                        </div>
                        <div class="group-42">
                            <img src="public/images/img_desejos1.png" alt="Desejos1" class="desejos1" />
                            <img src="public/images/img_desejos2.png" alt="Desejos2" class="desejos1" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="hr"></div>
                <p class="time ui text size-texts">Brasília, DF • 23 Ago, 20:30</p>
                <div class="hr-1"></div>
            </div>
        </div>
    </div>
</body>