:host {
    display: contents;
}

.home {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 26px 0;
}

.content-wrapper {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1128px;
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: #fdfdfc;
    margin: 42px 0 0 15px;
    font: 600 22px Inter, sans-serif;
    align-self: flex-start;
}

.media-section {
    width: 100%;
    margin-top: 40px;
}

.media-title {
    color: #a3a3a3;
    align-self: start;
    margin: 0 0 0 242px;
    font: 300 14px Inter, sans-serif;
}

.divider {
    width: 708px;
    max-width: 100%;
    height: 0;
    border: 1px solid #646464;
    margin: 10px 0;
}

.media-list {
    display: flex;
    width: 671px;
    max-width: 100%;
    align-items: start;
    gap: 29px;
    color: #fff;
    flex-wrap: wrap;
    margin: 11px 0 0 15px;
    font: 300 14px Inter, sans-serif;
}

.media-item {
    aspect-ratio: 0.6;
    object-fit: contain;
    object-position: center;
    width: 111px;
    border-radius: 4px;
    max-width: 100%;
}

.media-item-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pagination {
    align-self: end;
    display: flex;
    margin-top: 9px;
    gap: 9px;
}

.pagination-arrow {
    aspect-ratio: 0.48;
    object-fit: contain;
    object-position: center;
    width: 12px;
}

.pagination-text {
    margin: auto 0;
}

.footer {
    width: 100%;
    margin-top: 13px;
}

.footer-divider {
    background: #282828;
    min-height: 1px;
    width: 100%;
    border: none;
}

.timestamp {
    color: #a3a3a3;
    align-self: start;
    margin: 19px 0 0 230px;
    font: 400 15px Inter, sans-serif;
    display: block;
}

@media (max-width: 991px) {
    .content-wrapper {
        max-width: 100%;
    }

    .header {
        max-width: 100%;
    }

    .navigation {
        white-space: initial;
    }

    .section-title {
        margin-top: 40px;
    }

    .media-title,
    .timestamp {
        margin-left: 10px;
    }

    .pagination {
        margin-right: 10px;
    }
}