.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 100px;
  gap: 40px 100px;
  font-family: Inter, sans-serif;
  background-color: #161616;
  z-index: 10;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  background: linear-gradient(92deg, #fff 0%, #aaa 67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}


.navigation {
  display: flex;
  gap: 40px;
  font-size: 16px;
  color: #a3a3a3;
  font-weight: 400;
  text-align: right;
}

.nav-link {
  color: #a3a3a3;
  text-decoration: none;
}

.nav-link.active {
  color: #fdfdfc;
}