<header class="group-14">
    <img src="../../public/images/img_header_logo.png" alt="Header Logo" class="header-logo" />
    <ul class="group-80">
        <li>
            <a href="#">
                <p class="home ui text size-textmd">Home</p>
            </a>
        </li>
        <li>
            <a href="#">
                <p class="ui text size-textmd">Midias</p>
            </a>
        </li>
        <li>
            <a href="#">
                <p class="ui text size-textmd">Perfil</p>
            </a>
        </li>
    </ul>
</header>