<ul class="group-80">
    <li>
        <a routerLink="/home">
            <p class="home ui text size-textmd">Home</p>
        </a>
    </li>
    <li>
        <a routerLink="/cadastro">
            <p class="ui text size-textmd">Cadastrar</p>
        </a>
    </li>
    <li>
        <a routerLink="/perfil">
            <p class="ui text size-textmd">Perfil</p>
        </a>
    </li>
    <li>
        <a routerLink="/avaliacao">
            <p class="ui text size-textmd">Avaliação</p>
        </a>
    </li>
</ul>