:host {
  display: contents;
}

.media-registration {
  background-color: #161616;
  display: flex;
  padding: 29px 0 0;
  flex-direction: column;
  overflow: hidden;
}

.registration-form {
  border-radius: 15.594px;
  border: 1.3px solid #282828;
  background: #161616;
  align-self: center;
  display: flex;
  margin-top: 47px;
  width: 846px;
  max-width: 100%;
  flex-direction: column;
  padding: 38px 18px 12px;
}

.form-title {
  color: #fdfdfc;
  align-self: center;
  font: 500 29px Inter, sans-serif;
}

.form-row {
  display: flex;
  margin-top: 16px;
  width: 100%;
  gap: 31px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
}

label {
  color: #a6a6a6;
  font: 400 18px Inter, sans-serif;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
  border-radius: 5.569px;
  border: 1.114px solid #282828;
  background: #1c1c1c;
  color: #a6a6a6;
  font: 400 18px Inter, sans-serif;
  width: 100%;
  padding: 10px 14px;
}

.select-wrapper {
  position: relative;
}

.select-arrow {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  pointer-events: none;
}

.images-row {
  display: flex;
  justify-content: space-between;
}

.image-upload {
  display: flex;
  flex-direction: column;
}

.upload-placeholder,
.upload-icon {
  width: 100px;
  height: auto;
  border-radius: 4px;
  background-color: #1c1c1c;
  margin-top: 5px;
}

.cover-upload {
  border-radius: 4px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 25px 52px;
  border: 1px solid #282828;
}

.upload-size {
  color: #a3a3a3;
  margin-top: 10px;
}

.description-group {
  width: 100%;
}

.team-section {
  border-radius: 9.938px;
  border: 0.828px solid #282828;
  background: #161616;
  display: flex;
  margin-top: 22px;
  width: 100%;
  flex-direction: column;
  padding: 9px 14px 58px;
}

.section-title {
  color: #fdfdfc;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

.section-description {
  color: #a3a3a3;
  margin-top: 10px;
  font: 400 14px Inter, sans-serif;
}

.team-list {
  list-style-type: none;
  padding: 0;
  margin-top: 24px;
}

.team-member {
  display: flex;
  justify-content: space-between;
  color: #a6a6a6;
  font: 400 14px Inter, sans-serif;
  padding: 10px 0;
  border-bottom: 1px solid #414141;
}

.submit-button {
  border-radius: 6.498px;
  border: 1.3px solid #282828;
  background: #1c1c1c;
  align-self: flex-end;
  margin-top: 30px;
  color: #fdfdfc;
  text-align: center;
  padding: 18px 20px;
  font: 500 21px Inter, sans-serif;
  cursor: pointer;
}