<main class="media-registration">
    <section class="registration-form">
        <h1 class="form-title">Cadastrar Mídia</h1>
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group">
                    <label for="mediaType">Tipo de Mídia</label>
                    <div class="select-wrapper">
                        <select id="mediaType" formControlName="mediaType">
                            <option value="" disabled>Tipo de Mídia</option>
                            <option *ngFor="let type of mediaTypes$ | async" [value]="type.id">{{ type.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="language">Idioma</label>
                    <div class="select-wrapper">
                        <select id="language" formControlName="language">
                            <option value="" disabled>Idioma</option>
                            <option *ngFor="let idiom of idioms$ | async" [value]="idiom.id">{{ idiom.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" id="name" formControlName="name" />
                </div>
                <div class="form-group">
                    <label for="genre">Gênero</label>
                    <div class="select-wrapper">
                        <select id="genre" formControlName="genre">
                            <option value="" disabled>Gênero</option>
                            <option *ngFor="let genre of genres$ | async" [value]="genre.id">{{ genre.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="releaseYear">Ano de Lançamento</label>
                    <input type="text" id="releaseYear" formControlName="releaseYear" />
                </div>
                <div class="form-group">
                    <label for="platform">Plataforma</label>
                    <div class="select-wrapper">
                        <select id="platform" formControlName="platform">
                            <option value="" disabled>Plataforma</option>
                            <option *ngFor="let platform of platforms$ | async" [value]="platform.id">{{ platform.name
                                }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row images-row">
                <div class="form-group">
                    <div class="image-upload">
                        <label for="photo">Foto</label>
                        <input type="file" id="photo" (change)="onFileChange($event, 'photo')" />
                    </div>
                    <div class="image-preview">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b2ed24df-627f-419f-a155-a4d031f85ca6?placeholderIfAbsent=true&apiKey=41a7402f6dab483c82b6fcabc71f9215"
                            alt="Upload placeholder" class="upload-placeholder" />
                    </div>
                </div>
            </div>
            <div class="form-group description-group">
                <label for="description">Descrição</label>
                <textarea id="description" formControlName="description" rows="4"></textarea>
            </div>

            <section class="team-section">
                <h2 class="section-title">Equipe</h2>
                <p class="section-description">Abaixo adicione os membros da equipe</p>
                <form class="team-form">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="teamMemberName">Nome Equipe</label>
                            <input type="text" id="teamMemberName" formControlName="teamMemberName" />
                        </div>
                        <div class="form-group">
                            <label for="teamMemberRole">Cargo Equipe</label>
                            <div class="select-wrapper">
                                <input type="text" id="teamMemberRole" formControlName="teamMemberRole">
                                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/aa0ae03147a78deb522b979e809c74d0576a509eff179b2576e618710b3ef9d5?placeholderIfAbsent=true&apiKey=41a7402f6dab483c82b6fcabc71f9215"
                                    alt="" class="select-arrow" />
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="team-list">
                    <li class="team-member">
                        <span class="member-name">Peter Jackson</span>
                        <span class="member-role">Diretor</span>
                    </li>
                </ul>
            </section>

            <button type="submit" class="submit-button">Criar</button>
        </form>
    </section>
</main>