<body>
    <div class="cadastro">
        <div class="column">
            <div class="columnheaderlog">
                <header class="header">
                    <img src="../../public/images/img_header_logo.png" alt="Headerlogo" class="headerlogo_one" />
                    <ul class="rowhome">
                        <li>
                            <a href="#">
                                <p class="home ui text size-textxl">Home</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="ui text size-textxl">Midias</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p class="ui text size-textxl">Perfil</p>
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="columncadastrar">
                    <h1 class="cadastrarmdia ui heading size-text2xl">Cadastrar Mídia</h1>
                    <div class="rowarrowdownsvg">
                        <div class="rowarrowdownsvg-1">
                            <div class="columnarrowdown-1">
                                <select name="arrowdownsvgrep" class="arrowdownsvgrep-4">
                                    <option value="" disabled selected>tipo de mídia</option>
                                    <option value="option1">Filme</option>
                                    <option value="option2">Jogo</option>
                                    <option value="option3">Albúm</option>
                                </select>
                                <label class="name_one">
                                    <input name="name_one" placeholder="nome" type="text" />
                                </label>
                                <label class="name_one">
                                    <input name="year_one" placeholder="ano de lançamento" type="text" />
                                </label>
                                <h2 class="foto ui heading size-textmd">foto</h2>
                                <div class="rowbanner">
                                    <div class="banner">
                                        <p class="banner-1 ui text size-texts">banner</p>
                                        <div class="uploadbanner">
                                            <img src="../../public/images/img_upload_svgrepo_com.svg" alt="Uploadsvgrepo"
                                                class="uploadsvgrepo" />
                                            <p class="class-1080x1920 ui text size-textxs">1080 x 1920</p>
                                        </div>
                                    </div>
                                    <div class="capa">
                                        <p class="capa-1 ui text size-texts">capa</p>
                                        <div class="bannerhd">
                                            <img src="../../public/images/img_upload_svgrepo_com.svg" alt="Uploadsvgrepo"
                                                class="uploadsvgrepo" />
                                            <p class="class-1080x1920 ui text size-textxs">1920 x 1080</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columnarrowdown">
                            <select name="arrowdownsvgrep" class="arrowdownsvgrep">
                                <option value="" disabled selected>idioma</option>
                                <option value="option1">Português</option>
                                <option value="option2">Inglês</option>
                                <option value="option3">Espanhol</option>
                            </select>
                            <select name="arrowdownsvgrep" class="arrowdownsvgrep">
                                <option value="" disabled selected>país</option>
                                <option value="option1">Brasil</option>
                                <option value="option2">Estados Unidos</option>
                                <option value="option3">Espanha</option>
                            </select>
                            <select name="arrowdownsvgrep" class="arrowdownsvgrep">
                                <option value="" disabled selected>gênero</option>
                                <option value="option1">Ação</option>
                                <option value="option2">Comédia</option>
                                <option value="option3">Drama</option>
                            </select>
                            <select name="arrowdownsvgrep" class="arrowdownsvgrep">
                                <option value="" disabled selected>plataforma</option>
                                <option value="option1">Netflix</option>
                                <option value="option2">Amazon Prime</option>
                                <option value="option3">Disney+</option>
                            </select>
                            <textarea name="descrição" placeholder="descrição" class="descrio"></textarea>
                        </div>
                    </div>
                    <div class="team">
                        <div class="columnequipe">
                            <p class="equipe ui text size-texts">equipe</p>
                            <div class="rowabaixoadicio">
                                <div class="columnabaixoadi">
                                    <p class="abaixoadicione ui text size-texts">abaixo adicione os membros da equipe
                                    </p>
                                    <label class="teamname_one">
                                        <input name="teamname_one" placeholder="nome equipe" type="text" />
                                    </label>
                                    <label class="teamnamelist">
                                        <input name="teamnamelist" placeholder="Peter Jackson" type="text" />
                                    </label>
                                </div>
                                <div class="columnteamposit">
                                    <label class="teamposition">
                                        <input name="teamposition" placeholder="cargo equipe" type="text" />
                                    </label>
                                    <label class="teamposition-1">
                                        <input name="teamposition" placeholder="Diretor" type="text" />
                                    </label>
                                </div>
                                <img src="../../public/images/img_grid.svg" alt="Grid" class="grid_one" />
                            </div>
                        </div>
                    </div>
                    <button class="flex-row-center-center criar">Criar</button>
                </div>
            </div>
            <div class="columnhr_one">
                <div class="hr_one"></div>
                <p class="time ui text size-textlg">Brasília, DF • 23 Ago, 20:30</p>
                <div class="hr_three"></div>
            </div>
        </div>
    </div>
</body>