:host {
    display: contents;
}

.movie-review {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 116px;
}

.movie-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fdfdfc;
    font: 400 16px Inter, sans-serif;
    min-height: 409px;
    padding: 357px 70px 25px;
    width: 100%;
}

.movie-poster {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.movie-info {
    position: relative;
    display: flex;
    width: 441px;
    max-width: 100%;
    gap: 9px;
}

.movie-title {
    color: #fdfdfc;
    font-size: 22px;
    font-weight: 600;
    flex-grow: 1;
}

.movie-year,
.movie-director .label {
    color: #a3a3a3;
}

.director-name {
    flex-grow: 1;
    width: 130px;
}

.content-wrapper {
    align-self: center;
    z-index: 10;
    margin-top: -61px;
    width: 100%;
    max-width: 1165px;
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 19%;
    display: flex;
    flex-direction: column;
    color: #a3a3a3;
    font: 400 16px Inter, sans-serif;
}

.movie-thumbnail {
    aspect-ratio: 0.6;
    object-fit: contain;
    object-position: center;
    width: 208px;
    border-radius: 7px;
}

.streaming-section {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    position: relative;
    aspect-ratio: 0.889;
    margin-top: 56px;
    width: 100%;
    align-items: start;
    padding: 10px 42px 21px 9px;
}

.streaming-title {
    color: #fdfdfc;
    font-weight: 500;
}

.streaming-list {
    list-style-type: none;
    padding: 0;
}

.streaming-item {
    display: flex;
    gap: 7px;
    margin: 7px 0 0 10px;
    align-items: center;
}

.streaming-logo {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
}

.main-content {
    width: 81%;
    display: flex;
    margin-top: 53px;
    flex-direction: column;
}

.movie-description {
    color: #a3a3a3;
    text-align: justify;
    font: 400 16px Inter, sans-serif;
}

.rating-section {
    border-radius: 8.824px;
    border: 0.735px solid #282828;
    background-color: #161616;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 8px 12px;
}

.rating-icons {
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
}

.rating-icon {
    aspect-ratio: 1.02;
    object-fit: contain;
    object-position: center;
    width: 54px;
    margin-top: 5px;
}

.rating-label {
    color: #fdfdfc;
    align-self: center;
    margin-top: 12px;
    font: 300 16px Inter, sans-serif;
}

.rating-stars {
    aspect-ratio: 6.21;
    object-fit: contain;
    object-position: center;
    width: 186px;
    align-self: center;
    margin-top: 10px;
    max-width: 100%;
}

.comment-input {
    border-radius: 4.286px;
    border: 0.857px solid #282828;
    background-color: #1c1c1c;
    margin-top: 21px;
    width: 246px;
    max-width: 100%;
    color: #a6a6a6;
    padding: 8px 10px 47px;
    font: 400 14px Inter, sans-serif;
}

.submit-button {
    border-radius: 5px;
    border: 1px solid #282828;
    background-color: #1c1c1c;
    align-self: end;
    margin-top: 36px;
    color: #fdfdfc;
    text-align: center;
    padding: 11px 16px;
    font: 500 16px Inter, sans-serif;
}

.team-section {
    border-radius: 7.647px;
    border: 0.637px solid #282828;
    background-color: #161616;
    display: flex;
    margin-top: 30px;
    width: 533px;
    max-width: 100%;
    flex-direction: column;
    color: #a6a6a6;
    padding: 7px 15px 19px;
    font: 400 12px Inter, sans-serif;
}

.team-title {
    color: #fdfdfc;
    font-size: 16px;
    font-weight: 500;
    align-self: start;
}

.team-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 17px;
    margin-top: 12px;
}

.team-member {
    border-radius: 4.286px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px 7px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 991px) {
    .movie-review {
        padding-bottom: 100px;
    }

    .movie-header {
        max-width: 100%;
        padding: 100px 20px 0;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .sidebar,
    .main-content {
        width: 100%;
    }

    .sidebar {
        margin-top: 40px;
    }

    .streaming-section {
        margin-top: 40px;
        padding-right: 20px;
    }

    .main-content {
        margin-top: 40px;
    }

    .movie-description {
        max-width: 100%;
        margin-top: 40px;
    }

    .rating-section {
        margin-top: 40px;
    }

    .comment-input {
        margin-left: 4px;
        padding-right: 20px;
    }

    .submit-button {
        margin-right: 4px;
    }

    .team-section {
        max-width: 100%;
    }
}