:host {
    display: contents;
}

.movie-review {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 116px;
}

.movie-header {
    align-items: center;
    color: #fdfdfc;
    display: flex;
    flex-direction: column;
    font: 400 16px Inter, sans-serif;
    min-height: 409px;
    padding: 357px 70px 25px;
    position: relative;
    width: 100%;
}

.movie-poster {
    height: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
}

.movie-info {
    display: flex;
    gap: 9px;
    max-width: 100%;
    position: relative;
    width: 441px;
}

.movie-title {
    color: #fdfdfc;
    flex-grow: 1;
    font-size: 22px;
    font-weight: 600;
}

.movie-year,
.movie-director .label {
    color: #a3a3a3;
}

.director-name {
    flex-grow: 1;
    width: 130px;
}

.content-wrapper {
    align-self: center;
    margin-top: -61px;
    max-width: 1165px;
    width: 100%;
    z-index: 10;
}

.sidebar {
    color: #a3a3a3;
    display: flex;
    flex-direction: column;
    font: 400 16px Inter, sans-serif;
    width: 19%;
}

.movie-thumbnail {
    aspect-ratio: 0.6;
    border-radius: 7px;
    object-fit: contain;
    object-position: center;
    width: 208px;
}

.watch-options {
    aspect-ratio: 0.889;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    padding: 10px 42px 21px 9px;
    position: relative;
    width: 100%;
}

.section-title {
    color: #fdfdfc;
    font-weight: 500;
    position: relative;
}

.streaming-list {
    list-style-type: none;
    padding: 0;
}

.streaming-item {
    align-items: center;
    display: flex;
    gap: 7px;
    margin: 7px 0 0 10px;
}

.streaming-logo {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
}

.streaming-name {
    margin: auto 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    width: 81%;
}

.movie-synopsis {
    color: #a3a3a3;
    font: 400 16px Inter, sans-serif;
    text-align: justify;
    width: 66%;
}

.user-interaction {
    background-color: #161616;
    border: 0.735px solid #282828;
    border-radius: 8.824px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 8px 12px;
    width: 34%;
}

.rating-section {
    align-items: start;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.rating-star {
    aspect-ratio: 1.02;
    margin-top: 5px;
    object-fit: contain;
    object-position: center;
    width: 54px;
}

.rate-prompt {
    align-self: center;
    color: #fdfdfc;
    font: 300 16px Inter, sans-serif;
    margin-top: 12px;
}

.rating-scale {
    align-self: center;
    aspect-ratio: 6.21;
    margin-top: 10px;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    width: 186px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}

.comment-input {
    background-color: #1c1c1c;
    border: 0.857px solid #282828;
    border-radius: 4.286px;
    color: #a6a6a6;
    font: 400 14px Inter, sans-serif;
    padding: 8px 10px;
    width: 100%;
}

.submit-button {
    align-self: flex-end;
    background-color: #1c1c1c;
    border: 1px solid #282828;
    border-radius: 5px;
    color: #fdfdfc;
    font: 500 16px Inter, sans-serif;
    margin-top: 36px;
    padding: 11px 16px;
    text-align: center;
}

.movie-crew {
    background-color: #161616;
    border: 0.637px solid #282828;
    border-radius: 7.647px;
    color: #a6a6a6;
    display: flex;
    flex-direction: column;
    font: 400 12px Inter, sans-serif;
    margin-top: 30px;
    max-width: 100%;
    padding: 7px 15px 19px;
    width: 533px;
}

.crew-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 17px;
    list-style-type: none;
    padding: 0;
}

.crew-item {
    background-color: #1c1c1c;
    border-radius: 4.286px;
    display: flex;
    flex: 1;
    gap: 40px;
    justify-content: space-between;
    padding: 10px 7px;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (max-width: 991px) {
    .movie-review {
        padding-bottom: 100px;
    }

    .movie-header {
        max-width: 100%;
        padding: 100px 20px 0;
    }

    .content-wrapper {
        max-width: 100%;
    }

    .sidebar,
    .main-content {
        width: 100%;
    }

    .watch-options {
        margin-top: 40px;
        padding-right: 20px;
    }

    .streaming-item {
        white-space: normal;
    }

    .main-content {
        margin-top: 40px;
    }

    .movie-synopsis,
    .user-interaction {
        margin-top: 40px;
        max-width: 100%;
    }

    .rating-section {
        margin-right: 4px;
    }

    .comment-input {
        margin-left: 4px;
        padding-right: 20px;
        white-space: normal;
    }

    .submit-button {
        margin-right: 4px;
        white-space: normal;
    }

    .movie-crew {
        max-width: 100%;
    }
}