<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Avaliação</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img alt="Logo" src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
        style="width: 0px; height: 0px; display: none" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body>
    <div class="avalia-o">
        <div class="group-76">
            <div class="group-86">
                <div class="group-24">
                    <div class="group-62">
                        <header class="group-14">
                        </header>
                        <div class="group-1">
                            <h1 class="title ui heading size-headingxs">Interestellar</h1>
                            <p class="description-4 ui text size-textmd">2014</p>
                            <p class="description-5 ui text size-textmd">dirigido por</p>
                            <p class="description-6 ui text size-textmd">Christopher Nolan</p>
                        </div>
                    </div>
                </div>
                <img src="public/images/img_image.png" alt="Image" class="image" />
            </div>
            <p class="description ui text size-textmd">
                Pragas nas colheitas fizeram a civilização humana regredir para uma sociedade agrária em futuro de data
                desconhecida. Cooper, ex-piloto da NASA, tem uma fazenda com sua família. Murphy, a filha de dez anos de
                Cooper, acredita que seu quarto está assombrado por um fantasma que tenta se comunicar com ela. Pai e
                filha
                descobrem que o &quot;fantasma&quot; é uma inteligência desconhecida que está enviando mensagens
                codificadas
                através de radiação gravitacional, deixando coordenadas em binário que os levam até uma instalação
                secreta da
                NASA liderada pelo professor John Brand. <br /><br />O cientista revela que um buraco de minhoca foi
                aberto
                perto de Saturno e que ele leva a planetas que podem oferecer condições de sobrevivência para a espécie
                humana. As &quot;missões Lázaro&quot; enviadas anos antes identificaram três planetas potencialmente
                habitáveis orbitando o buraco negro Gargântua: Miller, Edmunds e Mann – nomeados em homenagem aos
                astronautas
                que os pesquisaram. Brand recruta Cooper para pilotar a nave espacial Endurance e recuperar os dados dos
                astronautas; se um dos planetas se mostrar habitável, a humanidade irá seguir para ele na instalação da
                NASA,
                que é na realidade uma enorme estação espacial.
            </p>
            <div class="group-38">
                <div class="group-33">
                    <div class="group-31">
                        <img src="public/images/img_like_heart_svgrepo_com.svg" alt="Like Heart Svgrepo Com"
                            class="like-heart-svgrepo-com" />
                        <p class="gostei ui text size-textlg">gostei</p>
                    </div>
                    <div class="group-32">
                        <div class="group-72">
                            <div class="group-85">
                                <img src="public/images/img_eye_svgrepo_com.svg" alt="Eye Svgrepo Com"
                                    class="eye-svgrepo-com" />
                                <p class="assistido ui text size-textlg">assistido</p>
                            </div>
                        </div>
                        <div class="group-31">
                            <img src="public/images/img_clock_plus_line_svgrepo_com.svg"
                                alt="Clock Plus Line Svgrepo Com" class="clock-plus-line-svgrepo-com" />
                            <p class="add ui text size-textlg">add</p>
                        </div>
                    </div>
                </div>
                <div class="line-1"></div>
                <p class="description-1 ui text size-textmd">avaliar</p>
                <div class="group-34 ui ratingbar">
                    <input type="radio" id="Group341" name="Group34" value="1" />
                    <label for="Group341" title="text"> </label>
                    <input type="radio" id="Group342" name="Group34" value="2" />
                    <label for="Group342" title="text"> </label>
                    <input type="radio" id="Group343" name="Group34" value="3" />
                    <label for="Group343" title="text"> </label>
                    <input type="radio" id="Group344" name="Group34" value="4" />
                    <label for="Group344" title="text"> </label>
                    <input type="radio" id="Group345" name="Group34" value="5" />
                    <label for="Group345" title="text"> </label>
                </div>
                <textarea name="Group 19" placeholder="comentário" class="group-19"></textarea>
                <button class="flex-row-center-center join">Criar</button>
            </div>
            <div class="group-40">
                <p class="equipe ui text size-textmd">equipe</p>
                <div class="group-75">
                    <div class="line-1-1"></div>
                    <div class="group-66">
                        <div class="group-36">
                            <p class="christopher-nolan ui text size-textxs">Christopher Nolan</p>
                            <p class="christopher-nolan ui text size-textxs">diretor</p>
                        </div>
                        <div class="group-36">
                            <p class="christopher-nolan ui text size-textxs">Nathan Crowley</p>
                            <p class="christopher-nolan ui text size-textxs">diretor de arte</p>
                        </div>
                        <div class="group-36">
                            <p class="christopher-nolan ui text size-textxs">Matthew McConaughey</p>
                            <p class="christopher-nolan ui text size-textxs">ator</p>
                        </div>
                        <div class="group-36">
                            <p class="christopher-nolan ui text size-textxs">Jessica Chastain</p>
                            <p class="christopher-nolan ui text size-textxs">atriz</p>
                        </div>
                        <div class="group-36">
                            <p class="christopher-nolan ui text size-textxs">Anne Hathaway</p>
                            <p class="christopher-nolan ui text size-textxs">atriz</p>
                        </div>
                        <div class="group-36">
                            <p class="christopher-nolan ui text size-textxs">Matt Damon</p>
                            <p class="christopher-nolan ui text size-textxs">ator</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-39">
                <p class="equipe ui text size-textmd">onde assistir</p>
                <div class="group-78">
                    <div class="group-65">
                        <div class="item">
                            <img src="public/images/img_amazon_160_svgrepo_com.svg" alt="Amazon 160 Svgrepo Com"
                                class="amazon-160-svgrepo-com" />
                            <p class="description-2 ui text size-textmd">amazon</p>
                        </div>
                        <div class="item">
                            <img src="public/images/img_save.svg" alt="Save" class="save" />
                            <p class="ui text size-textmd">netflix</p>
                        </div>
                        <div class="item">
                            <img src="public/images/img_user.svg" alt="User" class="user" />
                            <p class="description-7 ui text size-textmd">apple tv</p>
                        </div>
                        <div class="item">
                            <img src="public/images/img_warning.svg" alt="Warning" class="warning" />
                            <p class="description-8 ui text size-textmd">youtube</p>
                        </div>
                        <div class="item">
                            <img src="public/images/img_google_play_store_svgrepo_com.svg"
                                alt="Google Play Store Svgrepo Com" class="amazon-160-svgrepo-com" />
                            <p class="description-3 ui text size-textmd">google store</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="hr"></div>
            <p class="time ui text size-texts">Brasília, DF • 23 Ago, 20:30</p>
            <div class="hr-1"></div>
        </div>
    </div>
</body>

</html>