body,
html {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 20px;
    gap: 40px 100px;
    font-family: Inter, sans-serif;
    background-color: #161616;
    z-index: 10;
}

.navigation {
    display: flex;
    gap: 40px;
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 400;
    text-align: right;
}